@media screen and (max-width: 576px) {
    /* main label */
    .container p {
        font-size: 28px;
    }

    /* input for numeral */
    input {
        width: 225px;
    }
}

@media screen and (min-width: 577px) {
    /* main label */
    .container p {
        font-size: 36px;
    }

    /* input for numeral */
    input {
        width: 300px;
    }
}

/* colors */
:root {
    --accent-color: #be0000;
    --backgound-color: black;
    --main-color: white;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    background: var(--backgound-color);
    font-family: Montserrat, sans-serif;
    grid-template-areas: "body"
                            "legend";
    grid-template-rows: 100vh 1fr;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    justify-self: center;
}

#result {
    width: 225px;
    height: 36px;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    color: var(--main-color);
}

.container {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.container p {
    color: var(--main-color);
}

.legend {
    color: var(--main-color);
    text-align: justify;
}

table.legend {
    width: 200px;
    margin: 10px 0 10px 5px;
}

table.legend, td {
    border: 1px solid white;
}

table.legend td {
    padding-left: 5px;
}

article.legend {
    padding-left: 5px;
    padding-right: 5px;
}

.legend h2 {
    margin-bottom: 5px;
}

.legend > div:not(:last-child) {
    margin-bottom: 15px;
}

.legend > div p {
    font-size: 16px;
}

.group {
    position: relative;
    margin: 30px 30px;
}

input {
    background: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    color: var(--main-color);
    text-align: center;
    outline: none;
}

input:focus {
    outline: none;
}

/* label */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--accent-color);
}

/* bottom bars */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--accent-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* highlighter */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--accent-color);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--accent-color);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--accent-color);
    }
    to {
        width: 0;
        background: transparent;
    }
}